.checkout {
    background: $secondary;
    padding: 80px 0;

    @include breakpoint(md) {
        padding: 20px 0 100px 0;
    }

    .section-container {
        display: flex;
        gap: 20px;

        @include breakpoint(md) {
            flex-wrap: wrap;
        }
    }

    .checkout-section,
    .summary-section {
        background: white;
        border-radius: 10px;
        padding: 50px;
    }

    .checkout-section {
        flex: 3;

        @include breakpoint(md) {
            flex: initial;
            width: 100%;
        }

        .checkout-main-title {
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 1.14px;
            margin-bottom: 40px;
        }
    
        .checkout-second-title {
            text-transform: uppercase;
            font-size: 1em;
            color: $tertiary;
        }
    }

    .summary-section {
        flex: 1;
        height: fit-content;

        .summary-second-title {
            text-transform: uppercase;
            font-size: 1.125em;
            letter-spacing: 1.30px;
            margin-bottom: 40px;
        }

        .summary-bottom {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            gap: 10px;

            &-text {
                color: #9d9d9d;
                display: flex;

                
                &.grand-total {
                    margin-top: 25px;

                    .summary-bottom-price {
                        color: $tertiary;
                    }
                }
            }

            &-price {
                margin-left: auto;
                color: #000;
                font-weight: 700;
            }
        }

        .empty-alert {
            display: inline-block;
            color: red;
            text-align: center;
        }

        .button-primary {
            width: 100%;
            margin-top: 30px;
        }

    }

}