.product-list {
    &-title-container {
        margin-bottom: 160px;
        background: $primary;
        text-align: center;

        @include breakpoint(md) {
            margin-bottom: 60px;
       } 
    }

    &-title {
        padding: 100px;

        @include breakpoint(md) {
            padding: 50px 0;

            h1 {
                margin-bottom: 0;
            }
       } 
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 160px;
        margin-bottom: 160px;

        @include breakpoint(md) {
            gap: 120px;
            margin-bottom: 90px;
        }
    }
}