.product-page {

    &-sheet-container,
    &-features-container,
    &-mosaic,
    &-related {
        margin-bottom: 160px;
    }

    &-features-container {
        display: flex;
        gap: 125px;

        &-left {
            flex: 2;

            & > p {
                white-space: pre-line
            }
        }
        
        &-right {
            flex: 1;
        }
    }

    &-features-items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-list {
            display: flex; 
            gap: 25px;
            font-size: 0.9em;

            &-quantity {
                color: $tertiary;
                font-weight: 700;
            }

            &-name {
                color: rgba(0,0,0,0.5);
                text-transform: capitalize;
            }
        }
    }

    &-mosaic {
        display: flex; 
        gap: 30px;
        max-height: 600px;

        &-left, 
        &-right {
            flex: 1;
            object-fit: contain;

            & > img {
                border-radius: 5px;
            }
        }

        &-right{
            flex: 1.5;
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &-related {
        text-align: center;

        .medium-title {
            margin-bottom: 60px;
        }

        &-content {
            display: flex;
            gap: 30px;
            justify-content: space-between;
        }

        &-item {
            text-align: center;
            
            &-image {
                overflow: hidden;
                border-radius: 5px;
            }

            &-name {
                font-size: 1.5em;
                font-weight: 700;
                letter-spacing: 1.7px;
                margin: 40px 0 30px 0;
                text-transform: uppercase;
            }

            .button-primary {
                margin: 0 auto;
            }

            &-name,
            .button-primary {
                display: block;
            }
        }

    }

    
}