.button-primary {
    padding: 15px 30px;
    background: $tertiary;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    display: inline-block;
    transition: all ease-in-out 0.2s;

    &:hover {
        background: $tertiary-lighten;
    }
}