.section-hero {
    background: $primary;
    margin-bottom: 120px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 630px;
        padding: 130px 0;
        color: white;
        background: center / cover no-repeat url('../../assets/home/desktop/image-hero.jpg');
    
        @include breakpoint(md) {
            justify-content: center;
            text-align: center;
            padding: 130px 25px;
            background: center / contain no-repeat url('../../assets/home/mobile/image-header.jpg');
       } 
    }

    &-new {
        text-transform: uppercase;
        letter-spacing: 10px;
        opacity: 50%;
    }

    &-product-name {
        display: block;
    }

    &-category-name {
        word-break: break-word;
    }

    &-description {
        max-width: 350px;
        line-height: 25px;
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.5);

        @include breakpoint(md) {
            margin: 0 auto;
       } 
    }

    .button-primary {
        margin-top: 20px;

        @include breakpoint(md) {
            margin: 20px auto 0 auto;
       } 
    }

}