.nav {
    padding-bottom: 35px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 700;

    &-list {
        display: flex;
        align-items: center;
        gap: 0 35px;

        &-item {
            cursor: pointer;
            transition: all ease-in-out 0.1s;

            &:hover {
                color: $tertiary;
            }

            &.logo {
                margin-right: auto;
            }

            &.cart {
                margin-left: auto;
            }
        }
    }
}