.popup-container {
    position: absolute;
    top: 97px;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.5);

    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }
}

.cart-box {
    background: #fff;
    border-radius: 5px;
    max-width: 400px;
    padding: 30px;

    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        &-title {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.30px;
        }
    }

    &-content {

        &-list {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-list-item {
            display: flex;
            align-items: center;
            max-height: 65px;
            height: 65px;
            gap: 15px;

            &-image {
                height: 65px;
                width: auto;
                border-radius: 5px;

            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &-name,
            &-price {
                font-weight: 700;
            }

            &-price {
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.5);
            }

            &-quantity {
                margin-left: auto;
                font-size: 0.9em;
                color: #9d9d9d;
                font-weight: 700;
                
            }

            .input-number {
                padding: 10px;
                margin-left: auto;
            }

        }
    }

    &-total {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;

        &-title {
            opacity: 0.5;
        }

        &-price {
            font-weight: 700;
            font-size: 1.2em;

        }
    }

    &-checkout {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-total {
            display: flex;
            border-radius: 8px;
            overflow: hidden;

            &-left {
                background: $secondary;
                padding: 25px;
                flex-grow: 4;

                &__bottom {
                    text-align: center;
                    color: rgba(0, 0, 0, 0.5);
                    border-top: solid 1px #d0d0d0;
                    padding-top: 20px;
                    margin-top: 10px;
                    font-size: 0.9em;
                    font-weight: 700;
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                flex-grow: 2;
                justify-content: center;
                gap: 15px;
                background: #000;
                padding: 25px;
                color: #9d9d9d;

                span:nth-child(2) {
                    font-size: 1.1em;
                    color: white;
                    font-weight: 700;
                }
            }
        }

        .button-primary {
            margin-top: 15px;
        }
    }

    &-centered {
        margin: 7% auto;
        max-width: 540px;

    }

    .button-primary {
        width: 100%;
    }
}

.popup-cart {
    position: relative;

    & .cart-box {
        position: absolute;
        right: 0;
        top: 30px;
    }
}