.popup-cart {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.5);

    &-box {
        background: #fff;
        border-radius: 5px;
        max-width: 400px;
        margin: 30px 0 0 auto;
        padding: 30px;

        & * {
            pointer-events: none;
        }

        &-top {
            display: flex;
            justify-content: space-between;

            &-title {
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.30px;

            }
        }

        &-total {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;

            &-title {
                opacity: 0.5;
            }

            &-price {
                font-weight: 700;
                font-size: 1.2em;

            }
        }
        .button-primary {
            width: 100%;
        }
    }
}