.section-promote {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .promote-one-content {
        display: flex;
        align-items: center;
        background: $tertiary;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        padding: 100px;
        gap: 140px;
        height: 550px;

        @include breakpoint(md) {
            flex-wrap: wrap;
            height: initial;
            padding: 55px 25px;
            gap: 50px;
        }

        .button-primary {
            margin: 40px auto 0 auto;
        }
    }

    .promote-one-picture-container {
        min-width: 400px;

        @include breakpoint(md) {
            min-width: initial;
            margin: auto;
        }
    }

    .promote-one-icon {
        position: absolute;
        left: -200px;
        top: -20px;
        z-index: 0;

        @include breakpoint(md) {
            left: 50%;
            top: -20px;
            transform: translateX(-50%);
        }
    }

    .promote-one-picture {
        max-width: 400px;
        z-index: 1;
        position: absolute;
        object-fit: contain;
        bottom: -50px;

        @include breakpoint(md) {
            position: relative;
            max-width: 300px;
            top: 0;
        }

        @include breakpoint(sm) {
            max-width: 200px;
        }
    }

    .promote-one-content-text {
        position: relative;

        @include breakpoint(md) {
            text-align: center;
        }
    }

    .promote-one-title {
        display: flex;
        flex-direction: column;
        word-break: break-all;
    }

    .promote-one-description {
        color: white;
        margin-top: 25px;
        font-size: 1em;
    }

    .promote-two-content {
        display: flex;
        background: center / cover no-repeat url("/assets/home/desktop/image-speaker-zx7.jpg");
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        padding: 100px;
        height: 320px;
        width: 100%;

        @include breakpoint(sm) {
            padding: 25px;
            background: center / cover no-repeat url("/assets/home/mobile/image-speaker-zx7.jpg");
        }
    }

    .promote-three-content {
        display: flex;
        gap: 30px;
        width: 100%;

        @include breakpoint(sm) {
            flex-direction: column;
        }

        & > * {
            flex-basis: 50%;
        }

        .promote-three-picture-container {
            border-radius: 10px;
            overflow: hidden;
        }

        &-text {
            display: flex;
            flex-direction: column;
            background: $secondary;
            border-radius: 10px;
            padding: 100px;

            @include breakpoint(sm) {
                padding: 40px 25px;
            }

            .promote-three-title {
                margin-bottom: 0;
            }

            .button-secondary {
                width: fit-content;
            }

        }
    }

    .button-primary, 
    .button-secondary {
        margin-top: 40px;
    }
}