.section-promote {

    .promote-one-content {
        display: flex;
        align-items: center;
        background: $tertiary;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        padding: 100px;
        gap: 140px;
        height: 550px;
    }

    .promote-one-picture-container {
        min-width: 400px;
    }

    .promote-one-icon {
        position: absolute;
        left: -200px;
        top: -20px;
        z-index: 0;
    }

    .promote-one-picture {
        max-width: 400px;
        z-index: 1;
        position: absolute;
        object-fit: contain;
        bottom: -50px;
    }

    .promote-one-content-text {
        position: relative;
    }

    .promote-one-title {
        display: flex;
        flex-direction: column;
    }

    .promote-one-description {
        color: white;
        margin-top: 25px;
        font-size: 1em;
    }

    .button-primary {
        margin-top: 40px;
    }
}