.section-promote {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .promote-one-content {
        display: flex;
        align-items: center;
        background: $tertiary;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        padding: 100px;
        gap: 140px;
        height: 550px;
    }

    .promote-one-picture-container {
        min-width: 400px;
    }

    .promote-one-icon {
        position: absolute;
        left: -200px;
        top: -20px;
        z-index: 0;
    }

    .promote-one-picture {
        max-width: 400px;
        z-index: 1;
        position: absolute;
        object-fit: contain;
        bottom: -50px;
    }

    .promote-one-content-text {
        position: relative;
    }

    .promote-one-title {
        display: flex;
        flex-direction: column;
    }

    .promote-one-description {
        color: white;
        margin-top: 25px;
        font-size: 1em;
    }

    .promote-two-content {
        display: flex;
        background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        padding: 100px;
        height: 320px;
        width: 100%;
    }

    .promote-three-content {
        display: flex;
        gap: 30px;
        width: 100%;

        @include breakpoint(sm) {
            padding: 0 25px;
            flex-direction: column;
        }

        & > * {
            flex-basis: 50%;
        }

        .promote-three-picture-container {
            border-radius: 10px;
            overflow: hidden;
        }

        &-text {
            display: flex;
            flex-direction: column;
            background: $secondary;
            border-radius: 10px;
            padding: 100px;

            @include breakpoint(sm) {
                padding: 40px 25px;
            }

            .promote-three-title {
                margin-bottom: 0;
            }

            .button-secondary {
                width: fit-content;
            }

        }
    }

    .button-primary, 
    .button-secondary {
        margin-top: 40px;
    }
}