.section-tagline {
    display: flex;
    gap: 125px;
    margin: 200px auto;
    align-items: center;

    @include breakpoint(md) {
        flex-direction: column-reverse;
        gap: 40px;
        text-align: center;
        margin: 120px auto;
    }

    &-left, 
    &-right {
        flex: 1;
    }

    &-right {
        @include breakpoint(md) {
            width: 100%;
        }
    }

    &-right img {
        border-radius: 10px;

        @include breakpoint(md) {
            width: 100%;
        }
    }
}